.notification {
  position: relative;
  display: inline-block;
}

.notification .badge {
  position: absolute;
  top: -8px;
  right: -8px;
  color: white;
  border-radius: 5px;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: 900;
  background-color: red;
}
